*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'PT Sans', sans-serif;
}
.row, .row::after, .row::before{
	display: table;
	clear: both;
	width: 100%;
}
a:link, a:focus, a:active, a:hover{
	text-decoration: none;
}
.col1{
	width: calc(100%*1/12);
}
.col2{
	width: calc(100%*2/12);
}
.col3{
	width: calc(100%*3/12);
}
.col4{
	width: calc(100%*4/12);
}
.col5{
	width: calc(100%*5/12);
}
.col6{
	width: calc(100%*6/12);
}
.col7{
	width: calc(100%*7/12);
}
.col8{
	width: calc(100%*8/12);
}
.col9{
	width: calc(100%*9/12);
}
.col10{
	width: calc(100%*10/12);
}
.col11{
	width: calc(100%*11/12);
}
.col12{
	width: 100%;
}
div[class^="col"]{
	float: left;
	padding: 0 15px;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.pt-75{
	padding-top: 75px;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-90{
	margin-bottom: 90px;
}
.mb-75{
	margin-bottom: 75px;
}
.mb-43{
	margin-bottom: 43px;
}
.col-offset-1{
	margin-left: calc(100%*1/12);
}
.col-offset-2{
	margin-left: calc(100%*2/12);
}